h1,h2{
	text-align: center;
}
h1{
	color: cornflowerblue;
	border: 3px solid cornflowerblue;
	background-color: whitesmoke;
}
body{
	border: 1px solid black;
	padding: 10px;
}
.flex_container{
	border: 3px solid cornflowerblue;
	display: flex;
	background-color: orange;
}
.paragraf{
	height: auto;
	margin: 10px;
}
.bottom{
	color: deepskyblue;
	text-align: justify;
}
